@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #13152f;
	height: 100vh;
}
/*
.shadow-light {
  box-shadow: 0px 0px 30px 0px rgba(255,255,255,0.9);
} */

.shadow-custom {
	box-shadow: #c23893 8px 8px 2.6px;
}
.collapse-title {
	padding: 0rem;
	padding-right: 0rem;
}

.text-white {
	color: white !important;
}

*,
html {
	scroll-behavior: smooth;
}
